@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-color: #4169E1;
	--secondary-color: #979797;
	--secondary-dark-color: #6d6d6d;
	--error:#c3122f;
	--success:#4cbb17;
	--intermediate:#ff8a1b;
}  


body{
	font-family: "Poppins", serif;
	padding: 0;
	margin: 0;
}

*:focus-visible {
	outline: 2px solid #494949;
  }
  
  ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #7a7e86;
	border-radius: 80px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #7a7e86;
  }
  


